/* ========== Global ========== */
*.burger-menu {
    display: none;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }


  body {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    background-color: #e9e9e9;
    color: #1b1b1b;
    line-height: 1.6;
  }
  

  /* ======== CUENTA ======== */

  .cuenta__contenedor {
    margin-top: 1rem; 
    padding: 2rem 1rem;
    background-color: #e9e9e9;
    min-height: 100vh;
  }

/* Título principal */

.cuenta__titulo {
  text-align: center;
  font-size: 2rem;
  font-family: Impact;
  color: #0c2c44;
  margin-top: 4rem;
}

/* Contenedor*/

.cuenta__opciones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem 6rem;
  gap: 2rem;
}

/* Tarjeta de opción */

.cuenta__opcion {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 2rem;
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

.cuenta__opcion:hover {
  background-color: #4ade80;
}

/* Título de cada opción */

.cuenta__opcion-titulo {
  font-size: 1.6rem;
  font-family: Impact;
  margin-bottom: 1rem;
}

/* Texto descriptivo */

.cuenta__opcion-texto {
  font-size: 1rem;
  font-family: 'Courier New', monospace;
}


  /* ======== FOOTER ======== */

.footer {
  background-color: #0e2a43;
  padding: 2rem 1.5rem;
  font-family: 'Courier New', monospace;
  color: #ffffff;
}

.footer__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100rem;
  background-color: #0e2a45;
  margin: 0 auto;
  gap: 2rem;
}

/* Logo */

.footer__logo-img {
  width: 20rem;
}

/* Bloques de links */

.footer__bloque {
  min-width: 12rem;
  background-color: #0e2a45;
}

.footer__titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.footer__lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 0.6rem;
}

.footer__enlace {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.footer__enlace:hover {
  text-decoration: underline;
}

 
/* Parte inferior */

.footer__legal {
  border-top: 1px solid #2d4e66;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.footer__texto {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer__enlace--legal {
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: underline;
}


  /* =================== RESPONSIVE =================== */
@media (max-width: 768px) {


 /* ========== CUENTA========== */

     
     .cuenta__titulo {
    font-size: 2rem;
    margin-top: 7rem;
     }

    .cuenta__opciones {
        display: block;
        grid-template-columns: 1fr;
        padding: 1rem;
        margin-block: 1rem;
        margin-bottom: 0.6rem;
      }
    
    
      .cuenta__opcion {
        margin-bottom: 1rem;

      }
    
      .cuenta__opcion-titulo {
        font-size: 1.4rem;
      }
    
      .cuenta__opcion-texto {
        font-size: 0.95rem;
      }

    /* ========== FOOTER========== */

      .footer__contenedor {
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #0e2a45;
     }

     .footer__bloque {
     margin-bottom: 1.5rem;
     }

    .footer__logo-img {
     width: 8rem;
     margin-bottom: 1rem;
     }

    body {
    overflow-x: hidden;
    }
    html {
    overflow-x: hidden;
    }
}
