/* ========== Global ========== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 .burger-menu {
  display: none;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: 'Courier New', monospace;
  font-size: 1rem;
  background-color: #e9e9e9;
  color: #1b1b1b;
  line-height: 1.6;
}

/* ========== Header ========== */

.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  background-color: #0c2c44;
  width: 100%;
  padding-top: 1.2rem;
  top: 0;
  z-index: 100;
}

  /* Izquierda */

.header__left {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.header__nav-link {
  text-decoration: none;
  font-family: Impact;
  font-size: 1.6rem;
  color: #f8f5f5;
}

.header__nav-link:hover {
  color: #00ff9f;
  transition: color 0.3s ease;
}

 /* Submenu */

.submenu {
  display: none;
  position: absolute;
  top: 3rem;
  margin-top: 2rem;
  background-color: #0c2c44;
  list-style: none;
  padding: 1rem;
  z-index: 50;
  width: max-content;
}

.submenu li a {
  display: block;
  padding: 0.5rem 1rem;
  font-family: Impact;
  font-size: 1.2rem;
  color:  #f8f5f5;
  text-decoration: none;
}

.header__nav-item:hover .submenu,
.header__nav-item.active .submenu {
  display: block;
  color: #00ff9f;
}

/* Submenu generales */

.submenu__item:hover,
.submenu__link:hover {
color: #00ff9f;
transition: color 0.3s ease;
}

.submenu__sub {
display: none;
background-color: #0c2c44;
padding: 1rem;
}

.submenu__sub.submenu__sub--visible {
display: block;
}

.submenu__back {
display: block;
font-weight: bold;
color: #f8f5f5;
text-decoration: none;
margin-bottom: 1rem;
}

.submenu__back:hover {
color: #00ff9f;
}

/* Logo */

.header__center {
  display: flex;
  justify-content: center;
}
.header__logo {
  max-width: 8rem;
}

.logo {
  max-height: 4rem;
}

/* Iconos */

.header__right {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;
  color: #f8f5f5;
  gap: 1.5rem;
}

.header__icons img {
  height: 24px;
  width: auto;
  filter: brightness(0) invert(1);
}

.header__icons {
  display: flex;
  gap: 1rem;
  color: #f8f5f5;
}

.header__icons * {
  color: #f8f5f5 !important;
}

.header__icons a:hover img {
filter: brightness(0) saturate(100%) invert(66%) sepia(13%) saturate(687%) hue-rotate(97deg) brightness(101%) contrast(97%);
transition: filter 0.3s ease;
}

/* Burger Menu */

.burger-container {
  display: none;
}
.burger-menu {
  display: block;
  background: none;
  border: none;
  font-size: 2rem;
  color: #f8f5f5;
  cursor: pointer;
}


/* =================== RESPONSIVE =================== */

@media (max-width: 768px) {

  /* --- Header --- */ 

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c2c44;
    width: 100%;
    z-index: 100;
    margin-inline: auto;
  }

 
  .header__left {
    display: block !important;         
    width: 100%;
    order: 3;              
    padding-left: 0;
  }

  /* Botón hamburguesa */

  .burger-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin:  auto;
    width: 100%;
    margin-left: 5rem;
  }

  .burger-menu {
    display: flex !important;
    place-content: flex-end;
    background: none;
    border: 0;
    font-size: 2rem;
    color: #f8f5f5;
    cursor: pointer;
    padding: none;
    margin-top: -0.3rem;
  }

  /* Logo */

  .header__center{
    order: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 0.2rem;
  }

  /* Iconos */

  .header__right{
    order: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 0.3rem;
  }

  .header__nav--hidden{
     display: none; 
  }

  .header__nav.active{
    display: block;
    background-color: #0c2c44;
    padding-bottom: 0.5rem;
    margin-top: 0;
    width: 100%;
  }


  .header__nav-list {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    list-style: none;
    width: 100%;
    margin-top: 0;
  }

  .header__nav-item {
    position: static;       
    margin-bottom: 0.5rem;
  }

  .header__nav-link {
    font-size: 1.2rem;
    color: #f8f5f5;
    text-decoration: none;
  }

  
  .submenu{
    position: static !important;
    display: none;            /* se muestra solo si está active/inline-style */
    margin: 0.2rem 0 0;
    padding: 0.2rem 0 0.5rem 1rem;
    background-color: transparent; /* hereda el fondo del header */
    width: 100%;
  }


  .header__nav-item.active .submenu {
     display: block;
     
  }


  .header__nav-item:hover .submenu {
     display: none; 
  }
  


  .submenu li a  {
    display: block;
    padding: 0.5rem 0;
    color: #f8f5f5;
    text-decoration: none;
    font-family: Impact;
    font-size: 1rem;
  }


  .submenu__back  {
    display: block;
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
  }

  .submenu__back .submenu__link  {
    color: #f8f5f5;
    font-weight: bold;
    text-decoration: none;
  }
}