/* ========== Global ========== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

   .burger-menu {
    display: none;
  }
  
  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  body {
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    background-color: #e9e9e9;
    color: #1b1b1b;
    line-height: 1.6;
  }
  


/* ======= LOGIN ======= */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    padding: 2rem;
    background-color: #f8f5f5;
    margin-top: 2rem;
  }
  
  .login__contenedor {
    margin-top: 4rem;
    border: 0.6rem solid #0e2a43;
    padding: 2.5rem;
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    border-radius: 1rem;
  }
  
  .login__icono img {
    width: 1.6rem;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .login__titulo {
    font-size: 1.8rem;
    font-weight: 400;
    color: #888;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .login__formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login__campo input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
  }
  
  .login__opciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #777;
  }
  
  .login__opciones input {
    margin-right: 0.3rem;
  }
  
  .login__enlace {
    color: #888;
    text-decoration: none;
  }
  
  .login__boton {
    font-size: 1.1rem;
    color: #fff;
    border: none;
    padding: 0.9rem;
    background-color: #0e2a43;
    border-radius: 3px;
    cursor: pointer;
    transition:  0.3s ease;
  }
  
  .login__boton:hover {
    background-color: #0e2a43;
  }
  
  .login__registro {
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1.5rem;
  }
  
  .login__registro a {
    color: #0e2a43;
    text-decoration: underline;
  }
  

 /* ======== FOOTER ======== */

.footer {
  background-color: #0e2a43;
  padding: 2rem 1.5rem;
  font-family: 'Courier New', monospace;
  color: #ffffff;
}

.footer__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100rem;
  background-color: #0e2a45;
  margin: 0 auto;
  gap: 2rem;
}

/* Logo */

.footer__logo-img {
  width: 20rem;
}

/* Bloques de links */

.footer__bloque {
  min-width: 12rem;
  background-color: #0e2a45;
}

.footer__titulo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.footer__lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-bottom: 0.6rem;
}

.footer__enlace {
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
}

.footer__enlace:hover {
  text-decoration: underline;
}

 
/* Parte inferior */

.footer__legal {
  border-top: 1px solid #2d4e66;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: center;
}

.footer__texto {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer__enlace--legal {
  font-size: 0.9rem;
  color: #ffffff;
  text-decoration: underline;
}



  /* =================== RESPONSIVE =================== */
@media (max-width: 768px) {

/* ========== LOGIN========== */

.login__contenedor {
    padding: 1.5rem;
  }

  .login__titulo {
    font-size: 1.5rem;
  }

  .login__boton {
    font-size: 1rem;
  }

  
/* ========== FOOTER========== */

.footer__contenedor {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #0e2a45;
  }

  .footer__bloque {
    margin-bottom: 1.5rem;
  }

  .footer__logo-img {
    width: 8rem;
    margin-bottom: 1rem;
  }

body {
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
}
